body {
    font-family: 'Arima', cursive;
    margin: 0;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

.color {
    color: crimson;
}

.flexible {
    display: flex;
    margin-bottom: 200px;
}

.width {
    width: 50%;
    padding-left: 5%;

}

.width img {
    width: 90%;
}

.button {
    text-decoration: none;
    background-image: linear-gradient(rgb(133, 161, 211), rgb(160, 124, 194));
    padding: 10px 40px;
    color: rgb(4, 4, 41);
    font-weight: 800;
    border-radius: 5px;
}

.banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}

.experience {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}

.ex-item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 40px grey;

}

#full {
    border-left: 7px solid coral;
}

#bigginer {
    border-left: 7px solid palevioletred;
}

footer p {
    text-align: center;
}